.heading__text {
  margin-top: 150px;
  margin-left: -20px;
}
.heading__title {
  font-family: inter, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 10px;
  margin-top: 10px;
  margin-left: 27px;
}
