$primary-color: #000;
$accent-color: #ffac12;

.paragraph__button {
  font-size: 18px;
  background-color: $primary-color;
  margin-left: 12px;
  padding: 20px 50px;
  border-radius: 0 20px 0 0;
  margin-top: 15px;

  .paragraph__button__arrow {
    color: $accent-color;
    padding-left: 5px;
    font-size: 30px;
  }
}
