.centered-paragraph__description_wrapper {
  background: linear-gradient(0.26turn, #0d0a04, #201502);

  width: 100vw;
  height: 100%;
  padding: 120px;
}
.centered-paragraph__description {
  color: #fff;
  font-weight: lighter;
  text-align: center;
  font-size: 18px;
  padding: 50px;
}

@media only screen and (max-width: 425px) {
  .centered-paragraph__description_wrapper {
    padding: 30px;
    margin-top: 50px;
  }
  .col-md-5 {
    margin-top: 20px;
    margin-left: 50px;
  }
  .centered-paragraph__description {
    width: 200px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .centered-paragraph__description_wrapper {
    margin-top: 50px;
  }
  .col-md-5 {
    margin-top: 20px;
    margin-left: 160px;
  }
  .centered-paragraph__description {
    margin-left: -190px;
    width: 600px;
  }
}

@media only screen and (min-width: 1024px) {
  .col-md-5 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .centered-paragraph__description {
    width: 600px;
    margin-left: -100px;
  }
}

@media only screen and (min-width: 1440px) {
  .col-md-5 {
    margin-top: 20px;
    margin-left: 40px;
  }
  .centered-paragraph__description {
    width: 600px;
    margin-left: -40px;
  }
}
