.centered-paragraph__description_wrapper {
  background: linear-gradient(0.26turn, #0d0a04, #201502);

  width: 100vw;
  height: 100%;
  padding: 120px;
}

.centered-paragraph__description {
  text-align: center;
  font-size: 18px;
  padding: 50px;
  color: #fff;
  font-weight: lighter;
}
