@import '../../themes/colors.scss';
@import 'bootstrap';

.paragraphWrapper {
  margin-top: 30px;
  @extend .container-fluid;
}

.imgCol {
  @extend .col-md-6;
  @extend .col-12;
  padding: 0;
}
.paragraphImg {
  width: 100%;
  height: auto;
}

.paragraphDescriptionWrapper {
  @extend .col-md-6;
  @extend .col-12;
}
.paragraphDescription {
  color: $textColor;
}

.flex-row-reverse {
  margin-right: -25px;
}
.paragraphDescriptionWrapperReverse {
  @extend .col-md-6;
  @extend .col-12;
}

@media only screen and (min-width: 320px) {
  .paragraphImg {
    width: 100%;
    height: 100%;
  }

  .paragraphDescription {
    font-size: 15px;
  }

  .paragraphImgReverse {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .paragraphImg {
    width: 100%;
    height: 100%;
  }
  .paragraphDescriptionWrapper {
    margin-left: 25px;
  }
  .paragraphDescription {
    margin-top: 20px;
    width: 400px;
    margin-left: 15px;
  }
  .paragraphImgReverse {
    height: auto;
  }
  .paragraphDescriptionWrapperReverse {
    margin-top: 20px;
    padding-left: 50px;
    margin-right: -20px;
  }
}

@media only screen and (min-width: 768px) {
  .paragraphImg {
    height: auto;
  }
  .paragraphDescriptionWrapper {
    margin-left: -20px;
    padding: 5px;
  }
  .paragraphDescription {
    margin: 10px;
    line-height: 20px;
    line-height: 25px;
  }
  .paragraphImgReverse {
    margin-top: -80px;
    height: auto;
  }
  .paragraphDescriptionWrapperReverse {
    margin-top: -10px;
    padding-left: 30px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .paragraphImg {
    height: auto;
    width: 650px;
  }
  .paragraphDescriptionWrapper {
    margin-top: 80px;
    padding: 50px;
  }
  .paragraphDescription {
    margin-top: 10px;
    line-height: 30px;
    font-size: 18px;
    width: 500px;
  }
  .paragraphImgReverse {
    margin-top: -100px;
    width: 100%;
    height: auto;
  }
  .paragraphDescriptionWrapperReverse {
    margin-top: 90px;
    margin-right: 0;
    padding-left: 130px;
    width: 500px;
  }
}

@media only screen and (min-width: 1440px) {
  .paragraphImg {
    height: 100%;
    width: 100%;
  }
  .paragraphDescription {
    margin-top: 60px;
    font-size: 25px;
    padding: 40px;
    width: 700px;
  }
  .paragraphDescriptionWrapper {
    margin-left: -30px;
    padding: 5px;
    margin-top: 80px;
  }
  .paragraphDescription {
    margin-top: 10px;
    line-height: 30px;
    font-size: 18px;
    padding: 10px;
    line-height: 35px;
    margin-right: 100px;
  }
}
