@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.propertiesWrapper {
  height: 720px;
  width: 100vw;
  align-items: center;
  padding-top: 40px;
  margin-bottom: -200px;
}
.imageCard {
  @extend .card-img-top;
  @extend .imageShadow;
}

.propertiesDescription {
  background-color: $white;
  margin-top: 0;
  padding: 20px 15px 0 15px;
  border-radius: 0 0 20px 20px;
  box-shadow: 5px 10px 18px $shadowColor;
}
.propertiesTitle {
  font-weight: bold;
  padding-bottom: 20px;
  @extend .card-title;
}

.propertiesIconsRow {
  border-top: 1px solid $shadowColor;
  @extend .row;
}
.propertiesIcons {
  @extend .col-4;
}

.propertiesIconsValues {
  padding-left: 20px;
  padding-top: 5px;
  align-items: center;
  @extend .col-6;
}

.propertiesGreyBorder {
  border-right: 1px solid $shadowColor;
}

.imageShadow {
  box-shadow: 5px 10px 18px $shadowColor;
}

@media only screen and (min-width: 320px) {
  .propertiesTitle {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .propertiesTitle {
    font-size: 20px;
  }
}
