$primary-color: #000;
$accent-color: #ffac12;
$text-color: #666666;

.good-hands__wrapper {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.good-hands__img {
  width: 100%;
  height: auto;
}
.good-hands__text {
  margin-top: 80px;
  margin-left: -20px;
}

.good-hands__title {
  font-family: inter, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 800;
  line-height: 10px;
  margin-top: 10px;
}
.good-hands__description {
  font-size: 18px;
  padding: 10px 200px 0 0;
  margin-top: 10px;
  line-height: 35px;
}

.good-hands__button {
  background-color: #000;
  padding: 20px 50px;
  border-radius: 0 20px 0 0;
  margin-top: 15px;

  .good-hands__button__arrow {
    color: $accent-color;
    padding-left: 5px;
    font-size: 30px;
  }
}

// Responsive css

@media only screen and (min-width: 1306px) {
  .good-hands__text {
    padding: 5px;
  }
}
