@import '../../themes/colors.scss';

.heading__text {
  margin-top: 10px;
  margin-left: -20px;
}
.heading__title {
  font-family: inter, sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 35px;
  margin-top: 20px;
  margin-left: 14px;
}

.heading__title-white {
  font-size: 40px;
  display: block;
  color: $white;
  text-align: center;
}
@media only screen and (max-width: 425px) {
  .heading__title {
    margin-top: -10px;
    font-size: 25px;
    width: 200px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 768px) {
  .heading__title {
    margin-top: -10px;
    font-size: 25px;
    width: 200px;
  }
  .heading__title__white {
    width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .heading__title {
    font-size: 25px;
    width: 300px;
  }
}

@media only screen and (min-width: 1440px) {
  .heading__title {
    font-size: 40px;
    width: 500px;
  }
  .heading__title-white {
    width: 560px;
  }
}
