@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.headingWrapper {
  @extend .container;
  @extend .col-12;
}
.headingText {
  margin-top: 10px;
  margin-left: -20px;
  @extend .col-md-6;
  @extend .col-12;
}

.headingTitle {
  font-family: inter, sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 35px;
  margin-top: 20px;
  margin-left: 14px;
}

.headingTitleWhite {
  display: block;
  text-align: center;
}

.centeredParagraphHeading {
  color: $white;
  font-size: 35px;
  font-weight: bold;
  line-height: 35px;
  margin-left: 40px;
  width: 500px;
}
@media only screen and (max-width: 425px) {
  .headingTitle {
    margin-top: -10px;
    font-size: 25px;
    width: 200px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 768px) {
  .headingTitle {
    margin-top: -10px;
    font-size: 25px;
    width: 200px;
  }
  .headingTitleWhite {
    width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .headingTitle {
    font-size: 25px;
    width: 300px;
  }
  .centeredParagraphHeading {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .headingTitle {
    font-size: 40px;
    width: 500px;
  }
  .headingTitleWhite {
    width: 560px;
  }
  .centeredParagraphHeading {
    margin-left: 80px;
  }
}
