@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.myProfile {
  background: linear-gradient(0.26turn, $gradient1, $gradient2);
  height: 100vh;
  padding-top: 40px;
}
