@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.header,
.headerOverlay {
  height: 100vh;
}

.header {
  background-image: url('../../images/header-image.png');
  background-size: cover;
  width: 100%;
}

.headerOverlay {
  background: linear-gradient(
    198.73deg,
    rgba(0, 0, 0, 0.0001) 15.31%,
    rgba(0, 0, 0, 0.837986) 67.37%
  );
}
.headerHeading .headerHeadingDescription {
  @extend .text-white;
}

.headerHeadingWrapper {
  @extend .col-md-7;
  @extend .col-12;
  color: $white;
  padding: 10px 125px 150px;
}

@media only screen and (max-width: 765px) {
  .headerHeadingWrapper {
    margin: 10px 0;
    padding: 50px;
    font-size: 16px;
    max-width: 550px;
    .headerHeading {
      font-size: 30px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .headerHeadingWrapper {
    margin: 20px 0 0 10px;
    width: 100%;
    padding: 40px;
    font-size: 20px;
    .headerHeading {
      font-size: 60px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .headerHeadingWrapper {
    margin: 10px 20px 0px 40px;
    width: 100%;
    padding: 60px;
    font-size: 25px;
    .headerHeading {
      font-size: 60px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .headerHeadingWrapper {
    margin: 200px 20px 0 40px;
    padding: 60px;
    font-size: 30px;
    .headerHeading {
      font-size: 90px;
    }
  }
}
