.header {
  background: url('..//../Images/header-image.png');
  background-size: cover;

  margin: 0px;
  height: 100vh;
  width: 100vw;
  padding: 0px;
}

.header__heading {
  color: #fff;
  font-size: 80px;
  padding: 200px 650px 20px 185px;
}
