.header__overlay {
  background: linear-gradient(
    198.73deg,
    rgba(0, 0, 0, 0.0001) 15.31%,
    rgba(0, 0, 0, 0.837986) 67.37%
  );
}
.header {
  background-image: url('../../Images/header-image.png');
  // background: linear-gradient(
  //   198.73deg,
  //   rgba(0, 0, 0, 0.0001) 15.31%,
  //   rgba(0, 0, 0, 0.837986) 67.37%
  // );

  background-size: cover;
  height: 100vh;
}
.header__heading-wrapper {
  color: #fff;
}
.header__heading {
  font-size: 80px;
  padding-top: 50px;
  padding-right: 500px;
}

.header__heading-description {
  font-size: 18px;
  padding-right: 680px;
}
