@import '../../themes/colors.scss';

.footer__heading-columns {
  margin-left: 140px;
  width: 100vw;
}
.footer__column-heading {
  margin-top: 20px;
  color: $white;
}

.footer__column-list {
  list-style: none;
  margin-left: -15px;
}

.footer__column-links {
  color: $lightGrey;
}

.footer__column-links:hover {
  color: $darkGrey;
}

@media only screen and (min-width: 425px) {
  .footer__heading-columns {
    width: 100%;
    margin-left: 30px;
  }
  .footer-heading-row {
    width: 200px;
  }
}
