@import '../../themes/colors.scss';
@import 'bootstrap';

.footerHeadingColumns {
  margin-left: 140px;
  width: 100vw;
}
.footerColumnHeading {
  margin-top: 20px;
  @extend .text-white;
}

.footerColumnList {
  list-style: none;
  margin-left: -15px;
}

.footerColumnLinks {
  color: $lightGrey;
  margin-left: -26px;
  @extend .nav-link;
}

.footerColumnLinks:hover {
  color: $darkGrey;
}

@media only screen and (min-width: 425px) {
  .footerHeadingColumns {
    width: 100%;
    margin-left: 90px;
    margin-top: -40px;
  }
  .footerHeadingRow {
    width: 200px;
  }
}
