@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.signupPage {
  background: linear-gradient(0.26turn, $gradient1, $gradient2);
  height: 100vh;
  margin-top: -90px;
}
