@import '../../themes/colors.scss';

.testimonials {
  padding: 80px;
}

.testimonial-card__text {
  padding: 50px 0 50px 0;
  margin-top: -10px;

  .testimonial-card_row {
    width: 250px;
  }
}

.testimonial-card__name {
  font-size: 18px;
  padding: 5px;
}

.testimonial-card__img {
  margin-left: 20px;
  margin-top: 10px;
}

.testimonial-card__black {
  background-color: $black;
  padding: 5px;
  .testimonial-card__description {
    color: $white;
    width: 190px;
  }
}

.testimonial-card__active {
  margin-top: 18px;
  font-weight: bolder;
}
