@import '../../themes/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.testimonials {
  padding: 80px;
}

.testimonialCardText {
  padding: 50px 0 50px 0;
  margin-top: -10px;

  .testimonialCardRow {
    width: 250px;
    @extend .row;
  }
}

.testimonialCardDescription {
  @extend .col-8;
}
.testimonialCardName {
  font-size: 18px;
  padding: 5px;
}

.testimonialCardImg {
  margin-left: 20px;
  margin-top: 10px;
}

.testimonialCardBlack {
  background-color: $black;
  padding: 5px;
  margin-top: 50px;
  .testimonialCardDescription {
    width: 190px;
  }
  @extend .text-white;
}

.testimonialCardActive {
  margin-top: 18px;
  font-weight: bolder;
}
