@import './Breakpoints/breakpoints.scss';

/////////////////////////////////////////
* {
  font-family: Inter, sans-serif;
}

.container-fluid {
  padding: 0;
}
.App-layer {
  @include media('<=phone') {
    max-width: 100%;
    padding: 0px;
    margin: 0;
    font-size: 20px;
  }

  @include media('>phone', '<=700px') {
    max-width: 100%;
    padding: 0px;
    margin: 0;
    font-size: 20px;
  }
}
