@import '../../themes/colors.scss';
@import '../../../node_modules//bootstrap/scss/bootstrap.scss';

.auth {
  margin: 5rem auto;
  box-shadow: 0 1px 8px $shadowColor;
  width: 25rem;
  border-radius: 8px;
  padding: 1rem;
  background-color: $lightGrey;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  display: block;
  color: $black;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  width: 20rem;
  margin: auto;
  border-radius: 4px;
  padding: 0.25rem;
  border: 1px solid $darkGrey;
}

.formFooter {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  @extend .text-center;

  .formFooterLink {
    color: $orange;
    font-weight: bold;
  }
}
.formFooterLink:hover {
  color: $darkOrange;
  text-decoration: none;
}

.logoutBtn {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  color: $orange;
}
.logoutBtn:hover {
  color: $darkOrange;
  text-decoration: none;
}
.heading {
  @extend .mb-2;
  @extend .text-center;
}

.loginForm,
.signupForm,
.myProfile {
  background: linear-gradient(0.26turn, $gradient1, $gradient2);
  height: 100vh;
  margin-top: -90px;
}

.signupForm {
  padding-top: 1px;
}

.loginForm,
.myProfile {
  padding-top: 40px;
}
@media only screen and (min-width: 1440px) {
  .loginWrapper {
    padding-top: 120px;
  }
}
